.root{
    -fx-font-family: 'JetBrains Mono';
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-image: url("/GUI/introbackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}